$colors: (
    back:  rgba( 14,  13,  17, 1),
    front: rgba(255, 255, 255, 1),
    pri-0: rgba( 19,  49, 117, 1),	// Main pri color */
    pri-1: rgba( 59,  87, 152, 1),
    pri-2: rgba( 32,  65, 142, 1),
    pri-3: rgba(  9,  36,  97, 1),
    pri-4: rgba(  4,  25,  72, 1),

    sec-1-0: rgba( 43, 149,  9, 1),	// Main sec color (1) */
    sec-1-1: rgba( 93, 192, 61, 1),
    sec-1-2: rgba( 61, 179, 24, 1),
    sec-1-3: rgba( 30, 123,  0, 1),
    sec-1-4: rgba( 22,  91,  0, 1),

    sec-2-0: rgba( 91, 11,116, 1),	// Main sec color (2) */
    sec-2-1: rgba(126, 52,150, 1),
    sec-2-2: rgba(112, 23,140, 1),
    sec-2-3: rgba( 73,  3, 96, 1),
    sec-2-4: rgba( 54,  1, 71, 1),

    com-0: rgba(175, 120, 11, 1),	// Main com color */
    com-1: rgba(227, 175, 72, 1),
    com-2: rgba(212, 150, 28, 1),
    com-3: rgba(145,  96,  0, 1),
    com-4: rgba(107,  71,  0, 1),
);

@function color($name)
{
    @return var(--color-#{$name});
}

:root
{
    @each $name, $color in $colors {
        --color-#{$name}: #{$color};
    }
}