:root {
  --color-back: #0e0d11;
  --color-front: white;
  --color-pri-0: #133175;
  --color-pri-1: #3b5798;
  --color-pri-2: #20418e;
  --color-pri-3: #092461;
  --color-pri-4: #041948;
  --color-sec-1-0: #2b9509;
  --color-sec-1-1: #5dc03d;
  --color-sec-1-2: #3db318;
  --color-sec-1-3: #1e7b00;
  --color-sec-1-4: #165b00;
  --color-sec-2-0: #5b0b74;
  --color-sec-2-1: #7e3496;
  --color-sec-2-2: #70178c;
  --color-sec-2-3: #490360;
  --color-sec-2-4: #360147;
  --color-com-0: #af780b;
  --color-com-1: #e3af48;
  --color-com-2: #d4961c;
  --color-com-3: #916000;
  --color-com-4: #6b4700;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a, a:visited, a:link {
  color: var(--color-com-1);
}

body {
  margin: 0;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--color-back);
  color: var(--color-front);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  background-color: var(--color-pri-4);
}

header h1 {
  text-align: center;
  margin: 0;
}

main {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: var(--color-pri-0);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #msg {
  margin: 0;
  width: 100%;
  background-color: var(--color-pri-2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #msg:not(:empty) {
  padding: 0.5em 1em;
}

main #msg p {
  margin: 0;
}

main #msg ul {
  margin: 0;
}

main #controls {
  margin-bottom: 1em;
}

main #controls input, main #controls button {
  all: unset;
  margin: 0.5em 0;
  background-color: var(--color-sec-2-1);
  color: var(--color-front);
  padding: 0.5em 1em;
  text-align: center;
  border-radius: 1em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  position: relative;
  z-index: 110;
  border: 2px solid rgba(0, 0, 0, 0);
}

main #controls input:disabled, main #controls button:disabled {
  color: lightgray;
  background-color: var(--color-sec-2-4);
  z-index: 110;
}

main #controls input:not(:disabled):hover, main #controls input:not(:disabled):focus, main #controls button:not(:disabled):hover, main #controls button:not(:disabled):focus {
  background-color: var(--color-sec-2-3);
  z-index: 110;
}

main #controls input:focus, main #controls button:focus {
  border: 2px solid var(--color-com-1);
}

footer {
  height: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

table {
  background-color: var(--color-pri-1);
  border-collapse: collapse;
}

table, table th, table td {
  border: 2px solid var(--color-pri-3);
}

table th {
  background-color: var(--color-sec-2-1);
}

table tr:hover td {
  background-color: var(--color-pri-3);
}

table th > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

table th > div :nth-child(3) {
  font-size: 0.8em;
}

table td > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 2em;
}

table td:nth-of-type(1) {
  max-width: 30vw;
}

table td > div:nth-of-type(1) {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

table td > div:nth-of-type(1) div, table td > div:nth-of-type(1) a {
  text-align: center;
  margin-left: 1em;
}

table td > div:nth-of-type(n+1) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon-plus-squared {
  color: green;
  font-size: 200%;
}

.icon-minus-squared {
  color: crimson;
  font-size: 200%;
}

.row-hide {
  display: none;
}
