@import "theme";

*
{
    box-sizing: border-box;
}

a
{
    &, &:visited, &:link
    {
        color: color("com-1");

    }
}

body
{
    margin: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    background-color: color("back");
    color: color("front")
}

header {
    display: flex;
    flex-direction: column;
    padding: 1em;

    flex-grow: 0;
    background-color: color("pri-4");

    h1 {
        text-align: center;
        margin: 0;
    }
}

main {
    height: max-content;
    background-color: color("pri-0");
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    #msg {
        margin: 0;

        &:not(:empty)
        {
            padding: 0.5em 1em;
        }

        width: 100%;
        background-color: color("pri-2");
        display: flex;
        flex-direction: column;

        p {
            margin: 0;
        }

        ul {
            margin: 0;
        }
    }

    #controls
    {
        margin-bottom: 1em;

        input, button
        {
            all:unset;
            margin: 0.5em 0;

            background-color: color("sec-2-1");
            color: color("front");
            padding: 0.5em 1em;
            text-align: center;
            border-radius: 1em;

            user-select: none;
            cursor: pointer;

            position: relative;

            z-index: 110;
            border: 2px solid rgba(0,0,0,0); 

            &:disabled
            {
                color: lightgray;
                background-color: color("sec-2-4");
                z-index: 110;
            }

            &:not(:disabled):hover, &:not(:disabled):focus {
                background-color: color("sec-2-3");
                z-index: 110;
            }

            &:focus {
                border: 2px solid color("com-1"); 
            }   
        }
    }
}

footer {
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    background-color: color("pri-1");

    border-collapse: collapse;

    &, th, td
    {
        border: 2px solid color("pri-3");
    }

    th
    {
        background-color: color("sec-2-1");
    }

    tr:hover td
    {
        background-color: color("pri-3");
    }

    th > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & :nth-child(3)
        {
            font-size: 0.8em;
        }
    }

    td > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        min-height: 2em;
    }

    td:nth-of-type(1)
    {
        max-width: 30vw;
    }

    td > div:nth-of-type(1)
    {
        flex-wrap: wrap;
        div {
            text-align: center;
            margin-left: 1em;
        }
    }

    td > div:nth-of-type(n+1)
    {
        justify-content: center;
    }
}

.icon-plus-squared
{
    color: green;
    font-size: 200%;
}

.icon-minus-squared
{
    color: crimson;
    font-size: 200%;
}

.row-hide
{
    display: none;
}
